@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(231, 230, 230);
    /* background-color: rgb(252, 248, 248); */
    /* overflow-y:; */
    
}

body *{
    box-sizing: border-box;
    
    
}


nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgb(255, 255, 255); */
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 15%;
    border: 1.8px solid rgb(0, 0, 0);
    z-index: 2;
}

.logo{
    width: 15vw;   
}

.menu-nav{
    list-style: none;
    display: flex;
    
}

 .menu-nav a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    /* color: yellow; */
    border-radius: 20px;
    margin: 0px 10px;
    font-weight: 900;
    border: 20px;
    padding: 5px 10px;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    /* text-shadow: rgb(180, 162, 0) 0px 0.5px; */

}

.menu-nav a:hover, .menu-nav a.ativo{
    /* color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    /* background: rgb(255, 215, 0); */
    /* background: black; */
    background: #FFC300;
    /* background: rgb(255, 255, 255); */
}

.menu-nav > li{
    margin-left: 50px;
    letter-spacing: 3px;
   
}


.main-mobile {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 230, 230);
    /* background-color: rgb(252, 248, 248); */
    
}

.mobile-esquerdo {
    display: flex;
    width: 60vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.mobile-direito{
    display: flex;
    width: 40vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    /* background-color: rgb(252, 248, 248); */
}

.mobile-esquerdo > h1,.mobile-esquerdo > p{
    margin-left: 10%;
    font-family: 'Poppins', sans-serif;
}

.mobile-esquerdo > p{
    white-space: pre-line;
    margin-bottom: 10px;
    margin-right: 22%;
}


/* .mobile-esquerdo > h1{
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.mobile-esquerdo > p{
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
} */

#imagem{
    margin-top: 50px;
    width: 200%;
    margin-left: 200px;
}


/* Final */

.final{
    display: flex;
    width: 100vw;
    height: 45vh;
    justify-content: space-around;
    align-items: center;
    background: #FFC300;
    margin-top: 300px;
    }
    
    .Apolo{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .Funcionalidades{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        
        font-size: 12.5px;
    }

    .Sobre{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .Funcionalidades > ul li, a{
        list-style: none;
       text-decoration: none;
       font-size: 1.1em;
       font-family: 'Poppins', sans-serif;
       color: black;
    }

    #icon{
        width: 3vw;
        margin-left: 15px;
    }

    .redes-icons{
        margin-right: 230px;
        /* box-shadow: 0px 0.2px 0px 0px ; */
        }
        
        
        
        .redes{
            display: flex;
            flex-direction: column;
        }

    .logo-5{
        width: 20vw;
        margin-left: 70px;
    }

    

    /* Css Mobile */
.menu-mobile{
    display: none;
    cursor: pointer;
}

.menu-mobile div{
    width: 32px;
    height: 2px;
    background: #fff;
    /* background: #000; */
    margin: 8px;
}


    @media only screen and (max-width:999px) {
   
            
             /* Mobile */
             .menu-mobile li{
                margin-left: 0;
                opacity: 0;
             }
    
          .menu-nav{
            position: absolute;
            top: 8vh;
            right: 0;
            width: 60vw;
            height: 100vh;
            background: white;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            transform: translateX(100%);
            transition: transform 0.3s ease-in;
        
          }
    
    
          .menu-nav.active{
            transform: translateX(0);
          }
    
          .menu-mobile{
            display: block;
            
          }
    
             
    }
    
    
    
    @keyframes navLinkFade {
        from{
            opacity: 0;   
            transform: translateX(50px);     
         } /* from */
    
         to{
                opacity: 1;
                transform: translateX(0);
         } /*to */
    
    } /* keyframe */


    @media only screen and (max-width: 600px) {

        .logo{
            width: 50%;
            margin-left: 10%;
        }

        nav{
            width: 100vw;
            height: 9%;
        }

        .menu-nav{
            position: fixed;
            width: 100vw;
            height: 100vh;
            background: #FFC300;
            top: 120px;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .menu-nav > li{
            display: block;
            font-size: 110%;
            text-align: center;
            margin: 12%;
            gap: 3em;
            margin-right: 15%;
           
        }

        .menu-mobile{
            margin-right: 15%;
        }

        .main-mobile{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            width: 100%;
            height: 100%;
        }
        
        .mobile-direito,.mobile-esquerdo{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }

        #imagem{
            margin-top: 20%;
            margin-right: 15%;
        }

        .mobile-esquerdo > h1{
            display: flex;
            font-size: 15px;
            text-align: center;
           margin-left: 1%;
        }

        .mobile-esquerdo > p{
            display: flex;
            font-size: 16px;
            text-align: center;
           margin-left: 20%;
        }

        /* h1,p{
            display: flex;
            margin-right: 25%;
            font-size: 16px;
            text-align: center;
        } */



/* Final */
.logo-5{
    margin: 0;
    width: 50%;
}
  
     .final{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
     }

     .Apolo{
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
     }

    
     .Funcionalidades{
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
     }

     ul{
        text-align: start;
     }

     #sub{
        margin-left: 2%;
     }

   
     .Sobre{
        width: 100%;
        height: 100%;
        margin-left: 10%;
        align-items: flex-start;
        justify-content: flex-start;
     }

     #icon{
        width: 30%;
     }

     .redes-icons{
        margin-top: 5%;
     }

     


} /* 600px */